<h1>Upload New File</h1>

<%= form_with(model: @file_record, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "Upload" %>
  </div>
<% end %>

<%= link_to "Back", file_records_path %>