<!-- Flash Messages Demo -->
<div class="flash-messages">
  <div class="alert">This is where alerts go!</div>
  <div class="notice">This is where updates go!</div>
</div>

<!-- Sign Up / Sign In buttons for guests -->
<% unless user_signed_in? %>
  <div class="guest-actions">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn" %>
  </div>
<% end %>

<!-- Site Map -->
<footer class="site-map">
  <h3>Site Map</h3>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Account Details", account_path %></li>
    <li><%= link_to "Edit Account", edit_account_path %></li>
    <li><%= link_to "File Records", file_records_path %></li>
    <li><%= link_to "Upload New File", new_file_record_path %></li>
  </ul>
</footer>